body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(135deg, #e4f3e3, #5ca9e9);
    margin: 0;
    padding: 0;
    color: #fff;
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
}

.container {
    max-width: 800px;
    margin: auto;
    padding: 30px;
}

h1 {
    text-align: center;
    font-weight: 700;
}

.subtitle {
    text-align: center;
    margin-bottom: 30px;
}

.question {
    background: rgba(255, 255, 255, 0.15);
    padding: 20px;
    border-radius: 12px;
    margin-bottom: 20px;
}

.question h3 {
    margin-bottom: 10px;
}

label {
    display: block;
    margin: 8px 0;
    cursor: pointer;
}

button {
    display: block;
    margin: 30px auto;
    padding: 15px 30px;
    border: none;
    border-radius: 30px;
    background: #eaf3f2;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

button:hover {
    background: #ffffff;
}

.result-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    text-align: center;
}

#resultImage {
    width:500px;
    max-width: 100%;
    height: auto;
    margin: 15px 0;
}

.hidden {
    display: none;
}
